/* App.css */

.App {
    text-align: center;
}

.App-logo {
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    background-color: #a8d9ec;
    padding: 0.5px;
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Legg til eventuelle spesifikke stiler for App-komponenten her */
